.choose-us {
	display: flex;
	flex-flow: row nowrap;

	&__img {
		width: 36rem;
		height: 25rem;
		
		img {
			box-shadow: 0 0 7px 2px rgba(0,0,0, .3);
		}
	}

	&__list {
		margin-left: 4rem;
	}

	@include breakpoint($screen-lg) {
		align-items: center;

		&__img {
			width: 30rem;
			height: 22rem;
		}
			
		&__list {
			margin-left: 3rem;
		}
	}
	
	@include breakpoint($screen-md) {
		justify-content: center;
		flex-flow: column-reverse;
		
		&__list {
			margin-left: 0;
		}
	}

	@include breakpoint($screen-sm) {
		padding: 1rem 2rem;

		&__img {
			width: 100%;
			height: auto;
			
		}
	}
}

.list {
	padding: 1.5rem 0 3rem;
	list-style: none;
	overflow: hidden;

	&__header {
		font: 300 $choose-size--header $font-family--headers;
		margin-bottom: 1.5rem;
	}

	&__item {
		font-size: $choose-size--txt;
		position: relative;
		padding-left: 2.5rem;
		margin-bottom: 1rem;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		transition: text-shadow .2s linear;

		&:hover {
			text-shadow: 0 0 2px rgba($form-color--login, .6)
		}

		&::before {
			content: '';
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			position: absolute;
			top: .4rem;
			left: 0;
			background-image: url('../images/why-us/why-us--list.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	@include breakpoint($screen-lg) {
		padding: 2rem 0;
		
		&__header {
			font-size: $lg-choose-size--header;
			margin-bottom: 1.5rem;
		}
	}

	@include breakpoint($screen-md) {
		width: 100%;
		padding: 0 0 2rem 0;
		text-align: center;
		
		&__item {
			display: inline-block;
			max-width: 100%;
			font-size: $md-choose-size--txt;
		}
		
		&__header {
			font-size: $md-choose-size--header;
			text-align: center
		}
	}

}