.main__tabs {
	margin-bottom: 2rem;
}

.tabs {
	&__btns {
		display: flex;
		flex-flow: row nowrap;
	}

	&__column {
		flex: 0 0 25%;
		max-width: 25%;
	}

	&__body {
		// hide all contens for the correct display
		display: none;
		border: 2px solid $tab-border-color;
		position: relative;
		overflow: hidden;
		z-index: 1;

		transition: height .4s ease-in-out;
	}

	@include breakpoint($screen-sm) {
		&__btns {
			flex-flow: column;
		}
		
		&__column {
			max-width: 100%;
		}

		&__body {
			box-shadow: inset 0 0 5px 1px rgba(0,0,0, .2);
		}
	}
}

/****** Tabs' block buttons */
.tab-btn {
	padding: 2rem 3rem 4rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-bottom: -3px;
	cursor: pointer;
	height: 28.1rem;
	border-bottom: 3.5px solid transparent;
	overflow: hidden;

	position: relative;
	z-index: 2;

	transition: .2s linear;

	&__icon {
		margin-bottom: 1.5rem;
		
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		font: 300 $tab-size--btn $font-family--headers;
		text-align: center;
		color: $main-color--text;

		transition: .3s linear;
	}

	// non-active tab buttons
	&:hover {
		border: 1px solid rgba(0,0,0, .2);
		box-shadow: inset 0 0 5px 1px rgba(0,0,0, .2);
		
		.tab-btn__title {
			text-shadow: 3px 3px 2px rgba(0,0,0, .2);
		}
	}

	// active tab buttons
	&--active,
	&--active:hover {
		border: 2px solid $tab-border-color;
		border-bottom: 3.5px solid #fff;
		box-shadow: none;
		cursor: default;

		.tab-btn__title {
			color: $main-color--tabs;
			font-size: $tab-size--btn-active;
			text-shadow: 1px 1px 2px rgba(0,0,0, .4);
		}
	}

	@include breakpoint($screen-lg) {
		padding: 1.5rem 2rem 2rem;

		&__icon {
			width: 12rem;
			height: 13rem;
			overflow: hidden;
			margin: 0 auto 1.5rem;
		}
	

		&__title {
			font-size: $lg-tab-size--btn;
		}

		&--active,
		&--active:hover {
			.tab-btn__title {
				font-size: $lg-tab-size--btn-active;
			}
		}
	}

	@include breakpoint($screen-md) {
		padding: 1rem;
		height: 20rem;
		justify-content: flex-start;

		&__icon {
			width: 8rem;
			height: 9rem;
		}

		&__title {
			font-size: $md-tab-size--btn;
		}
	}

	@include breakpoint($screen-sm) {
		height: auto;
		flex-flow: row;
		border: 2px solid $tab-border-color;
		
		&__icon {
			width: 5rem;
			height: 5rem;
			margin: 0 0 0 1rem;
		}
		
		&__title {
			width: 100%;
			font-size: $sm-tab-size--btn;
		}
		
		&:hover {
			box-shadow: none;
			border: 2px solid $tab-border-color;
		}
		
		// active tab buttons
		&--active,
		&--active:hover {
			box-shadow: inset 0 0 10px 2px rgba(0,0,0, .2);
			border-bottom: 2px solid $tab-border-color;

			.tab-btn__title {
				font-size: $sm-tab-size--btn-active;
			}
		}

	}
}

/****** Tabs inner content */
.tab-context {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 4rem;

	transition: opacity .4s ease-in-out;
	
	&__img {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 4rem;
		width: 53rem;
		height: 25rem;
		
		& img {
			width: 100%;
			object-fit: contain;
		}
	}

	&__title {
		font: 300 $tab-size--header $font-family--headers;
		color: $main-color--tabs;
		margin-bottom: 2.5rem;
		line-height: 1;
	}

	&__text p:not(:last-child) {
		margin-bottom: 2rem;
	}

	&--active {
		opacity: 1;
	}

	@include breakpoint($screen-lg) {
		padding: 3rem;

		&__title {
			font-size: $lg-tab-size--header;
		}
	}

	@include breakpoint($screen-md) {
		padding: 2rem;

		&__img {
			margin-bottom: 2.5rem;
			width: 100%;
			height: 100%;
		}

		&__title {
			line-height: 1.2;
			padding: 0 1rem;
			font-size: $md-tab-size--header;
		}
	}

	@include breakpoint($screen-sm) {
		&__img {
			margin-bottom: 2.5rem;
			width: 100%;
			height: 100%;
		}

		&__title {
			font-size: $sm-tab-size--header;
			text-align: center;
		}
	}
}