// for rem
html {
	font-size: 62.5%;
}

body {
	font-family: Roboto;
	font-size: 1.4rem;
	line-height: 1.5;
	color: $text-prim;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

.site-container {
	width: $site-container;
	margin: 0 auto;
	outline: 1px solid darkred;
}

