// for rem
html {
	font-size: 62.5%;
}

body {
	font-family: $font-family;
	font-size: 1.4rem;
	line-height: 1.5;
	color: $main-color--text;
}

.container {
	width: $site-container--inner;
	margin: 0 auto;


	@include breakpoint($screen-lg) {
		max-width: 740px;
	}

	@include breakpoint($screen-md) {
		max-width: 460px;
	}

	@include breakpoint($screen-sm) {
		max-width: 100%;
	}
}