// Main sizes
$site-container: 1020px;
$site-container--inner: 820px;

// Font families
$font-family: Arial, Helvetica, sans-serif;
$font-family--headers: 'segoe-wp', Arial, Helvetica, sans-serif;

// Text sizes
$font-size: 1.4rem;
$header-size--nav: 1.7rem;
$header-size--t: 5rem;
$header-size--subt: 3.3rem;
$header-size--btn: 1.8rem;
$tab-size--btn: 2rem;
$tab-size--header: 3rem;
$choose-size--header: 2.8rem;
$choose-size--txt: 1.4rem;
$form-size--header: 2.2rem;
$form-size--input: 1.4rem;
$footer-size--header: 1.8rem;
$footer-size--list: 1.1rem;

// Todo
// - add class for all headers
// - add animation speed

// Text colors
$header-color: #fff;
$header-nav--focus: #6BBDE8;
$main-color--tabs: #616161;
$main-color--text: #828282;
$tab-border-color: #DEDEDE;

// Main blocks' colors
$form-color--login: #e67624;
$form-color--subs: #01d4f3;

// Buttons' colors
$btn-slider: #2A6F4F;
$btn-lf: #444444;
$btn-sw: #029BB1;

// Media break points
$screen-lg: 991px;
$screen-md: 768px;
$screen-sm: 480px;


// Header slider
$hs-scrool-speed: .5s;

// Footer slider
$fs-scrool-speed: .5s;