.footer {
	background-image: url('../images/footer/footer-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-size: $footer-size--list;
	font-weight: lighter;
	color: darken($header-color, 30%);

	&__body {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 3rem 0 3.5rem;
	}
	
	&__about:first-child {
		margin-left: 3.5rem;
	}

	@include breakpoint($screen-md) {
		&__body {
			padding: 0;
		}
	}

	@include breakpoint($screen-md) {
		&__body {
			flex-wrap: wrap;
			justify-content: space-around;
			font-size: $md-footer-size--list;

			> div {
				flex: 1 1 auto;
				margin: 2rem;
				text-align: center;
			}
		}

		&__about:first-child {
			margin-left: 2rem;
		}
	}
}