.header {
	background: 50% / cover no-repeat url('../images/header/header-bg.png');
	margin-bottom: 5.5rem;

	
	&__wrap {
		padding: 4rem 7rem 4rem;
	}
	
	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__nav {
		margin: 0 -17px;
	}

	&__slider {
		margin-top: -5rem;
	}

	@include breakpoint($screen-lg) {
		&__slider {
			margin-top: -4rem;
		}
	}

	@include breakpoint($screen-md) {
		&__wrap {
			padding: 2rem 3rem;
		}

		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__slider {
			margin-top: 0;
		}
	}

	@include breakpoint($screen-md) {
		margin-bottom: 3rem;
	}
		
	@include breakpoint($screen-sm) {
		&__wrap {
			padding: 2rem 0;
		}
	}

}