.header {
	background: 50% / cover no-repeat url('../images/header/header-bg.png');
	margin-bottom: 5.5rem;

	
	&__wrap {
		padding: 4rem 7rem 4rem;
	}
	
	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__nav {
		margin: 0 -17px;
	}

	&__slider {
		margin-top: -5rem;
	}
}