.nav {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: flex-start;

	&__item {
		font: 300 $header-size--nav $font-family--headers;
		display: block;
		color: $header-color;
		transition: color .2s ease;
		padding: 0 17px;
		
		&--active,
		&:hover {
			color: $header-nav--focus;
		}
	}

	@include breakpoint($screen-sm) {
		flex-flow: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;

		&__item {
			width: 100%;
			font-size: $sm-header-size--nav;
			padding: 1rem;
		}
	}
}
