@font-face {
	font-family: 'myriad-pro';
	src: url('myriad-pro-regular.ttf') format('trueType');
	font-weight: 400;
}

@font-face {
	font-family: 'segoe-wp';
	src: url('segoe-wp-light.ttf') format('trueType');
	font-weight: 300;
}

@font-face {
	font-family: 'segoe-wp';
	src: url('segoe-wp-semibold.ttf') format('trueType');
	font-weight: 600;
}