@font-face {
	font-family: 'segoe-wp';
	src: url('./fonts/segoe-wp-light.ttf') format('trueType');
	font-weight: 200;
}

@font-face {
	font-family: 'segoe-wp';
	src: url('./fonts/segoe-wp-semibold.ttf') format('trueType');
	font-weight: 700;
}