@font-face {
	font-family: 'myriad-pro';
	src: url('./fonts/myriad-pro-regular.ttf') format('trueType');
	font-weight: 400;
}

@font-face {
	font-family: 'segoe-wp';
	src: url('./fonts/segoe-wp-light.ttf') format('trueType');
	font-weight: 200;
}

@font-face {
	font-family: 'segoe-wp';
	src: url('./fonts/segoe-wp-semibold.ttf') format('trueType');
	font-weight: 700;
}